# Contains all common requirements for both dev and production.

# Django Framework specific
Django==1.10.7
django-environ==0.4.0
djangorestframework==3.6.3
drfdocs==0.0.11
gunicorn==19.6.0
django_filter==1.0.2
markdown==2.6.6

# CORS
django-cors-headers==2.0.2

# Serve static files
whitenoise==3.3.0

# Database Adapter
dj-database-url==0.4.1
six==1.10.0
ipython==4.1.2

# Augmenting requests
pygithub==1.25.2

# Mezzanine CMS
Mezzanine==4.2.3
filebrowser_s3==1.0.0
django-storages==1.5.2
boto3==1.4.4

# Testing
flake8==2.5.4
coverage==4.0.3
factory_boy==2.7.0
fake-factory==0.5.7
pytz==2016.4
mock==2.0.0
